vm_scripts/*/*.sh
*_cache
*.pyc
*.err
*.log
log.txt
upload_code.sh
testing_bench/results/*.json
testing_bench/results/final/*
testing_bench/results/df.*
testing_bench/results/df_*
testing_bench/results/*.png
testing_bench/results/*.svg
testing_bench/input/*.parquet
testing_bench/testing_bench/gemini_cache/*
testing_bench/make_df_alt.py
.env
testing_bench/.env
testing_bench/testing_bench/serpro_caches/
testing_bench/testing_bench/serpro_caches/*
testing_bench/results/custos_e_tokens-extração_de_infor.xlsx
testing_bench/results/resultados_previos
testing_bench/article/*.png
testing_bench/article/*.tex
testing_bench/article/*.bib
testing_bench/article/*.aux
testing_bench/article/*.bbl
testing_bench/article/*.bst
testing_bench/article/*.bst.txt
testing_bench/article/*.cls
testing_bench/article/*_latexmk
testing_bench/article/*.out
testing_bench/article/*.pdf
testing_bench/article/*.gz
testing_bench/article/*.bst
testing_bench/article/*.xdv
testing_bench/article/*.fls
testing_bench/article/*.blg
testing_bench/article/*_preenchido.tsv
testing_bench/article/*api.csv