aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.12.1
attrs==23.2.0
Automat==22.10.0
babel==2.18.0
bcc==0.29.1
bcrypt==3.2.2
blinker==1.7.0
blis==1.3.3
boto3==1.34.46
botocore==1.34.46
cachetools==6.0.0
camel-kenlm==2025.9.16
camel_tools==1.5.7
catalogue==2.0.10
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.6
cloud-init==25.2
cloudpathlib==0.23.0
colorama==0.4.6
coloredlogs==15.0.1
command-not-found==0.3
confection==0.1.5
configobj==5.0.8
constantly==23.10.4
cryptography==41.0.7
cuda-bindings==12.9.4
cuda-pathfinder==1.3.3
cymem==2.0.13
datasets==4.5.0
dbus-python==1.3.2
dill==0.4.0
distro==1.9.0
distro-info==1.7+build1
docopt==0.6.2
docutils==0.22.4
editdistance==0.8.1
emoji==2.15.0
filelock==3.20.3
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
gliclass==0.1.11
gliner==0.2.22
gliner2==1.2.4
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hyperlink==21.0.0
idna==3.6
imagesize==1.4.1
incremental==22.10.0
indic-nlp-library==0.92
Janome==0.5.0
jieba==0.42.1
jieba3==1.0.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.5.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
langdetect==1.0.9
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
Morfessor==2.0.6
mpmath==1.3.0
muddler==0.1.3
multidict==6.7.1
multiprocess==0.70.18
murmurhash==1.0.15
netaddr==0.8.0
netifaces==0.11.0
networkx==3.6.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.2
onnxruntime==1.23.2
onnxruntime-gpu==1.24.1
packaging==24.0
pandas==3.0.0
pexpect==4.9.0
pillow==12.1.0
polars==1.38.1
polars-runtime-32==1.38.1
preshed==3.0.12
propcache==0.4.1
protobuf==6.33.5
ptyprocess==0.7.0
pyarrow==23.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
PyJWT==2.7.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
python-apt==2.7.7+ubuntu5.1
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-magic==0.4.27
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
pytz==2024.1
PyYAML==6.0.1
regex==2026.1.15
requests==2.32.5
rich==13.7.1
roman-numerals==4.1.0
s3transfer==0.10.1
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.0
sentencepiece==0.2.1
service-identity==24.1.0
setuptools==68.1.2
shellingham==1.5.4
six==1.16.0
smart_open==7.5.0
snowballstemmer==3.0.1
sos==4.8.2
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==9.1.0
sphinx-argparse==0.5.2
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srsly==2.5.2
ssh-import-id==5.11
stanza==1.11.0
sympy==1.14.0
systemd-python==235
tabulate==0.9.0
thinc==8.3.10
threadpoolctl==3.6.0
tokenizers==0.19.1
torch==2.10.0
tqdm==4.67.3
transformers==4.43.4
triton==3.6.0
Twisted==24.3.0
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.0.7
wadllib==1.3.6
wasabi==1.1.3
weasel==0.4.3
wheel==0.42.0
wrapt==2.1.1
xxhash==3.6.0
yarl==1.22.0
zope.interface==6.1
